body,
html {
  font-family: "Roboto", sans-serif;
}

h1 {
  max-width: 500px;
  text-align: left;
  color: #ec6e4c;
  font-size: 60px;
  font-weight: 500;
  margin-top: 10px;
  margin-right: 0 auto;
  margin-left: 12px;
  margin-bottom: 8px;
}

ul {
  position: relative;
  font-weight: 200;
  text-align: left;
  padding: 10px 15px;
  text-align: left;
  color: #009999;
  font-size: 16px;
  font-weight: 300px;
  list-style: none;
  margin-left: 2px;
  margin-top: 5px;
}

.weather-app {
  position: relative;
  border: 5px solid #ec6e4c;
  padding: 15px;
  margin: 20px auto;
  border-radius: 20px;
  max-width: 600px;
}

.search-form {
  display: block;
  margin-right: 5px;
  margin-left: 15px;
  margin-bottom: 5px;
  text-align: left;
  padding: 0;
}

.row {
  text-align: center;
  font-size: 16px;
  font-weight: 50px;
  color: #ec6e4c;
  margin-top: 5px;
}

.fa {
  color: #ec6e4c;
}

.units {
  position: relative;
  text-align: left;
  font-size: 20px;
  color: #ec6e4c;
  top: -45px;
}

#background {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#background img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

small {
  text-align: left;
  font-size: 16px;
  margin-left: 470px;
  color: #ec6e4c;
  margin-top: 5px;
  padding: 10px;
}

#city-input {
  color: #03939e;
  margin-left: 0 auto;
}

#description {
  text-transform: capitalize;
  max-width: 350px;
  text-align: left;
  color: #03939e;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  padding: 0 auto;
  margin-left: 12px;
  margin-top: 12px;
}

#temperature {
  text-align: left;
  color: #03939e;
  font-size: 90px;
  font-weight: 300;
  line-height: 1;
  margin-left: 11px;
}
#corner-image {
  position: relative;
  height: 70px;
  width: 70px;
}

#celsius-link #fahrenheit-link {
  color: #03939e;
}

#current-location-button {
  font-size: 20px;
  font-weight: 50px;
  min-width: 220px;
  max-width: 220px;
  text-decoration: none;
  outline-style: none;
  cursor: pointer;
  border-style: none;
  color: white;
  background-color: #ec6e4c;
  border-radius: 100%;
  overflow: none;
  text-align: center;

  margin-bottom: 30px;
  margin-right: 70px;
  margin-left: 80px;
}

#current-location-button::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}

#current-location-button:hover {
  background: #f9a702;
  transition: all 800ms ease;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: #03939e;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
  margin-bottom: 20px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
