body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: left;
  color: #03939e;
  font-size: 60px;
  font-weight: 500;
  line-height: 70px;
  margin-right: 0 auto;
  margin-left: 12px;
}

ul {
  font-weight: 100;
  text-align: left;
  text-align: left;
  padding: 20px;
}

li {
  text-align: left;
  color: #03939e;
  font-size: 16px;
  font-weight: 200;
  height: 19px;
  line-height: 1;
  list-style: none;
  margin-top: 5px;
}

.weather-app {
  position: relative;
  border: 5px solid #d35506;
  padding: 15px;
  margin: 20px auto;
  border-radius: 20px;
  max-width: 600px;
}

.search-form {
  display: block;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 40px;
  margin-bottom: 5px;
  text-align: left;
  padding: 0;
}

.row {
  text-align: center;
  font-size: 16px;
  font-weight: 50px;
  color: #d35506;
  margin-top: 5px;
}

small {
  position: relative;
  font-size: 16px;
  margin-left: 470px;
  color: #d35506;
}

#city-input {
  text-align: left;
}
#temperature {
  text-align: left;
  color: #03939e;
  font-size: 70px;
  font-weight: 300;
  line-height: 1;
  padding: 10px;
}

#celsius-link {
  text-align: left;
  font-size: 30px;
  font-weight: 400px;
  color: #d35506;
}

#current-location-button {
  font-size: 20px;
  font-weight: 50px;
  min-width: 200px;
  max-width: 200px;
  text-decoration: none;
  outline-style: none;
  cursor: pointer;
  border-style: none;
  border: 4px double #f9a702;
  color: white;
  background-color: #d35506;
  border-radius: 100%;
  overflow: none;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 80px;
  margin-left: 80px;
}

#current-location-button::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}

#current-location-button:hover {
  background: #f9a702;
  transition: all 800ms ease;
}
